<small>
<%= simple_nested_form_for( @category, html: { class: 'form-vertical' }) do |f|  %>
		<%= f.error_notification %>
		<ul class="errors"></ul>
		<div class="container">	
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6">
					<%= f.input :name%>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6">
					<%= f.input :acronym%>
				</div>
			</div>
</small>	
	<div class="row">
		<div class="btn-group" role="group" aria-label="...">
			<div class="col-md-12">
					<%= f.submit "Save", :class => "btn btn-primary" %>
					<%= link_to "Cancel", :back, :class => "btn btn-default" %>
	        </div>
		</div>
	</div>
	</div>
<%end%>
