<% contract_off = @contract.locked or @contract.end_date > Date.today %>
<%= simple_nested_form_for( @contract, url: update_queue_contract_path, html: { class: 'form-vertical' }) do |f|  %>
		<%= f.error_notification %>
		<ul class="errors"></ul>
<div class="container">	
	<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4">
						<%= f.label "Add items"%>
				</div>
	</div>
<%if !contract_off %>
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-6">
			<div class="btn-group" role="group" aria-label="...">
			<a href='#' id='select-all' class="btn btn-sm btn-default">select all</a>
			<a href='#' id='deselect-all' class="btn btn-sm btn-default">deselect all</a>
			</div>
		</div>
	</div>
<%end%>
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12">
						<%= f.association :items, collection: @items,
													label_method: lambda { |item| "#{item.barcode} #{item.name}".truncate(60)},
													value_method: :id,
													label: false,
													input_html: {:style=>"width:800px; height:300px;"}
													%>
				</div>
	</div>
	<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-4">
			<%if !contract_off%>
					<%= f.submit "Save association", :class => "btn btn-primary" %>
			<%end%>
					<%= link_to "Back", :back, :class => "btn btn-default" %>
	        </div>
		</div>
	</div>
<%end%>
