<small>
<div class="panel panel-default">
  		<div class="panel-body">
<%= simple_nested_form_for @item, html: {:multipart => true} do |f| %>
	<% unless @item.new_record? %>	
		<%barcode = @item.id %>
	<%end%>
		<%= f.error_notification %>

		<ul class="errors"></ul>
			<div class="row">
				<%= f.input :id, :as => :hidden %>
				<div class="col-lg-4 col-md-4 col-sm-4">
					<%= f.input :name %>
				</div>
				<div class="col-lg-5 col-md-5 col-sm-5">
					<%= f.association :teams, label: "Team", collection: @teams, input_html: { class:"select2-select"} %>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-3 col-md-4 col-md-4">
					<%= f.input :serial_number, label: "Serial number" %>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2">
					<%= f.input :installation_date, :label => "Installation on:", as: :string, input_html: { class: "datepicker"} %>
				</div>
				<div class="col-lg-2 col-md-3 col-sm-4">
					<%= f.association :location, label: "Location", collection: @locations, input_html: { class:"select2-select"} %>
				</div>
				<div class="col-lg-5 col-md-5 col-sm-5">
					<%= f.association :users, label: "Contact", collection: @users, input_html: { class:"select2-select" } %>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-4 col-md-4">
					<%= f.association :provider, label: "Provider", collection: @providers, input_html: { class: "select2-select"} %>
				</div>
				<div class="col-lg-4 col-md-4 col-md-4">
					<%= f.association :brand, label: "Brand", collection: @brands, input_html: { class: "select2-select"} %>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-8 col-md-8 col-sm-8">
					<%= f.association :category, label: "Category", collection: @categories, input_html: { class:"select2-select" } %>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3">
					<%= f.association :status, label: "Status", collection: @statuses, input_html: { class:"select2-select" } %>
				</div>
			</div>
			
			<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-3">
					<%= f.association :owner, label: "Owner", collection: @owners, input_html: { class:"select2-select" } %>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2">
					<%= f.input :owner_inventory, label: "Owner ID"%>
				</div>
				<div class="col-md-3 col-md-3 col-sm-3">
					<%= f.input :folder, label: "Folder #" %>
				</div>
			</div>
			
			<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-3">
					<%= f.input :price, label: "Price" %> 
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2">
					<%= f.association :currency, label: "Currency", collection: @currencies, input_html: { class:"select2-select col-lg-12" }%>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-3">
					<%= f.label "Donation" %>
					<%= f.select(:donation, [['Yes', true], ['No', false]], {:include_blank => " "}, { class:"select2-select col-lg-12 col-md-12 col-sm-12" })%>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-5 col-md-5 col-sm-5">
					<%= f.association :contracts, label: "Maintenance contract", collection: @contracts, input_html: { class:"select2-select col-lg-12" }%>
				</div>
			</div>
			
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12">
					<%= f.input :comment, label: "Comment" %> 
				</div>
			</div>	
<div class="panel panel-primary">
	<div class="panel-heading">
			<h3 class="panel-title">Files</h3>
	</div>
	<div class="panel-body">			
		<div id="attachments_container" class="col-lg-12">
				<%= f.simple_fields_for :attachments do |a| %>
					<div class="row">	
						<div class="col-lg-4 col-md-4 col-sm-4 vcenter pull-left">
							<%=a.label 'Name of the document'%>
							<%= a.input_field :doc_type %>
							<%=a.label 'File'%>
							<%= File.basename(a.object.attachment.to_s)%>
					       	<%= a.input_field :attachment, :as => :file, :title => "Search for a file to add"%>
					    </div>
					    <div class="col-lg-2 col-md-2 col-sm-2 vcenter">
									<%= a.link_to_remove "<span class='fa fa-times'></span>".html_safe%>
						</div>
				<% end %>
				
						<%= f.link_to_add "Add a file", :attachments, :class => "btn btn-xs btn-primary pull-right" %>
				</div>
			</div>
	  </div>

<div class="panel panel-success">
	<div class="panel-heading">
			<h3 class="panel-title">Events</h3>
	</div>
	<div class="panel-body">			
		<div id="events_container" class="col-lg-12">
				<%= f.simple_fields_for :occurances do |ff| %>
						<%= render partial: 'items/components/form_event', locals: {:ff => ff}%>
				<%end%>
				<%= f.link_to_add "Add an event", :occurances, :class => "btn btn-xs btn-success pull-right" %>
			</div>
			</div>
	</div>
	</div>
	</div>
</small>
	<div class="row">
				<div class="col-md-12">
					<%= f.submit "Save", :class => "btn btn-primary" %>
			        	<%= link_to "Back", :back, :class => "btn btn-default" %>
			     </div>
		</div>
<%end%><!--End of Form-->
</div>  
		
	
