<%= search_form_for @q, :url => items_path, :remote => true do |f| %>
		 	<div class="form-group row">
		 		<div class="col_lg_11 col-md-11 col-sm-11">
				  	<%= f.search_field :name_or_barcode_or_recap_or_recap_conf_has_any_term, class: "col-md-9", placeholder: t('global.search_any_term') %>
				</div>	
			</div>
	<div class="row">
		<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
	
  <div class="panel panel-default">
  	
    <div class="panel-heading" role="tab" id="heading">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse" aria-expanded="false" aria-controls="collapse">
        <%=t('global.fine_search')%>
        <i class="indicator fa fa-chevron-right  pull-right"></i></a>
      </h4>
    </div>
    
    <div id="collapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading">
      	<div class="panel-body">
      		<%= render partial: 'items/components/focus', locals: {f: f, users: @users} %>
      	</div>
     </div>
	</div>
</div>
	</div>
			<div class="form-row">
				<div class="col-md-12 col-sm-12">
		  			<div class="form-group pull-right">
						<%= f.submit class:"cancel-button btn btn-default" %>
						<%= link_to "Clear Search", request.path, class:"btn btn-default" %>
					</div>
		  			</div>
		  		</div>
 <%end%>
