<div class="panel panel-default">
  		<div class="panel-body">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12" >
					<strong><%=Item.human_attribute_name("barcode")%> : </strong><%= @barcode %>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12">
					<strong><%=Item.human_attribute_name("name")%> : </strong><span><%= @name.upcase%></span>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-5 col-md-5 col-sm-5">
					<strong><%=Team.model_name.human(count: 2).capitalize%> : </strong> <%=@team_name %>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-3 col-md-3 col-md-3">
					<strong> <%=Item.human_attribute_name("serial_number")%> : </strong><%= @serial_number %>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-2">
					<strong> <%=Item.human_attribute_name("installation_date")%> : </strong><%= @installation_date %>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-4">
					<strong><%=Location.model_name.human(count: 2).capitalize%> : </strong><%= @location_name%>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12">
						<strong><%=User.model_name.human(count: 2).capitalize%> : </strong><%=@full_name.html_safe %>
				</div>
			</div>
			<hr />
			<div class="row">
				<div class="col-lg-4 col-md-4 col-md-4">
					<strong><%=Provider.model_name.human(count: 2).capitalize%> : </strong> <%= @provider_name%>
				</div>
				<div class="col-lg-4 col-md-4 col-md-4">
					<strong><%=Brand.model_name.human(count: 2).capitalize%> : </strong><%= @brand_name%>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-8 col-md-8 col-sm-8">
					<strong><%=Category.model_name.human(count: 2).capitalize%> : </strong> <%= @category_name%>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3">
					<strong><%=Status.model_name.human(count: 2).capitalize%> : </strong><%= @item_status%>
				</div>
			</div>
			<hr />
			<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-3">
					<strong><%=Owner.model_name.human(count: 2).capitalize%> : </strong><%=@owner_name%>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3">
					<strong><%=Item.human_attribute_name("owner_id")%> : </strong><%= @owner_inventory%>
				</div>
				<div class="col-md-3 col-md-3 col-sm-3">
					<strong><%=Item.human_attribute_name("folder")%> : </strong><%= @folder_number%>
				</div>
			</div>
	
		<hr />
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12">
					<strong><%= t('global.files').capitalize%> : </strong><br />
				<% unless @item.item_attachments.empty? %>
						<% @item.item_attachments.each do |item_attachment|%>
						<% unless item_attachment.doc_type.blank? %>
							<%= link_to item_attachment.doc_type, item_attachment.attachment.to_s, :target => "_blank"%><br />
						<%else%>
							<%= link_to File.basename(item_attachment.attachment.to_s) , item_attachment.attachment.to_s, :target => "_blank"%><br />
						<%end%>
					<%end%>
				<%else%>
						<em>No file attached</em>
				<%end%>
				</div>
			</div>
	
			
	<% unless (current_user.teams.ids & @item.teams.ids).empty? %>
	<hr />
			<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-3">
					<strong><%=Item.human_attribute_name("order")%> : </strong><%= @order%>
				</div>
				<div class="col-lg-5 col-md-5 col-sm-5">
					<strong><%=Item.human_attribute_name("order_note")%> : </strong><%= @order_note%>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-3">
					<strong><%=Item.human_attribute_name("invoice_id")%> : </strong><%= @invoice%>
				</div>
				<div class="col-lg-5 col-md-5 col-sm-5">
					<strong><%=Item.human_attribute_name("invoice_note")%> : </strong><%= @invoice_note%>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-3">
					<strong><%=Item.human_attribute_name("price")%> : </strong><%= @price +" "+@currency_price_name %> 
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3">
					<strong><%=Item.human_attribute_name("residue")%> : </strong><%= @residue +" "+@currency_residue_name %> 
				</div>
				<div class="col-lg-2 col-md-2 col-sm-3">
					<strong><%=Item.human_attribute_name("donation")%> : </strong><%= @donation %>
				</div>
			</div>
			<hr />
			<div class="row">
				<div class="col-lg-5 col-md-5 col-sm-5">
					<strong><%= Contract.model_name.human(count: 2).capitalize %> : </strong><%= @item.contracts.where("end_date>?", Date.today).pluck(:name).to_sentence%>
				</div>
			</div>
	<%end%>
	<hr />
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12">
					<strong><%=Item.human_attribute_name("comment")%> : </strong><%= @comment%> 
				</div>
			</div>	
	<hr />
<div class="row">
<%unless @item.occurances.empty?%>
<div class="col-lg-12">	
		<table class="table table-small table-hover table-bordered">
			<%  @item.occurances.each do |e| %>
			<tr>
				<th><%=Occurance.human_attribute_name("name")%></th>
				<th><%=Occurance.human_attribute_name("done")%></th>
				<th><%=Occurance.human_attribute_name("comment")%></th>
				<th>Dates</th>
			</tr>
			<tr>
				<td><%= e.name %></td>
				<td><%= e.done.nil? ? "NC":(e.done? ? "Done" : "Not done") %></td>
				<td><%= e.comment %></td>
				<td><%= e.days.pluck(:date).to_sentence %></td>
			</tr>
			<%end%>
		</table>
<%end%>
</div>
</div><!--End of occurances row-->
</div>
</div>
