<div class="jumbotron">
<div class="container">
	<div class="row">
<div class="panel panel-primary">
	<div class="panel-heading"><%=t('global.maintenance_contracts')%></div>
  <div class="panel-body">
		<div class="container">
			<div class="col-lg-6 col-md-6 col-sm-6">
				<span><strong><%=t('menu.name')%> : </strong><%=@contract.name%></span><br />
				<span><strong><%=t('global.tender')%> : </strong><%=t(@contract.tender) unless @contract.nil?%></span><br />
				<span><strong><%=t('global.locked').capitalize%> : </strong></strong><%=t(@contract.tender)%></span><br />
				<span><strong><%=t('menu.teamss')%> : </strong><%=@teams.map{|t| t.name}.to_sentence%></span><br />
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6">
				<span><strong><%=t('menu.providers')%> : </strong><%=@contract.provider.nil? ? '':@contract.provider.name%></span><br />
				<span><strong>Categories : </strong><%=@contract.categories.map{|c| c.name}.to_sentence%></span><br />
				<span><strong><%=t('menu.starting_date')%> : </strong><%= @contract.start_date.blank? ? "None" :  @contract.start_date.strftime("%B %e, %Y") %></span><br >
				<span><strong><%=t('menu.ending_date')%> : </strong><%=@contract.end_date.blank? ? "None" :  @contract.end_date.strftime("%B %e, %Y") %></span><br />
				<strong><%=t('global.files').capitalize%> </strong><br />
				<% if @contract.attachments.empty? %>
					<%=t('global.none').capitalize%>
				<% else %>
					<% @contract.attachments.each do |attachment|%>
							<%= link_to File.basename(attachment.attachment.path), attachment.attachment.to_s, :target => "_blank"%><br />
					<%end%>
				<%end%>
			</div>	
		</div>	
</div>
</div>
</div>
<div class="row">
<div class="panel panel-success">
  <div class="panel-heading"><%=t('global.associated_items').capitalize%></div>
  <div class="panel-body">
  	<div class="col-lg-12 col-md-12 col-sm-12">
  <% if !@contract.items.empty?%>
  	<table class="table table-bordered">
  		
			<% @contract.items.each do |item|%>
			<tr>
				<td class="col-lg-1"><%=item.barcode%></td>
				<td class="col-lg-5"><%=item.name%></td>
				<td class="col-lg-5"><%=item.teams.pluck(:name).to_sentence%></td>
			</tr>
			<%end%>
	</table>
</div>
<%end%>
	<% if @contract.locked %>
	<span><%=t('global.contract_locked')%></span>
	<% elsif @contract.end_date < Date.today %>
	<span><%=t('global.contract_obsolete')%></span>
	<% else %>
	<span><%= link_to t('global.add_items'), add_to_queue_contract_path(@contract)%></span>
	<%end%>
</div>
</div>
</div>
<div class="row">
	<%= link_to t('global.edit'), edit_contract_path(@contract), :class => "btn btn-default" %>
	<%= link_to t('global.back'), :contracts, :class => "btn btn-default" %>
	<%= link_to t('global.export').capitalize, contract_path(format: "xlsx"), :class => "btn btn-default" %>
	<%if can? :update, @contract %>
		<%= link_to t('global.destroy'), @contract, method: :delete, :class => "btn btn-danger" %>
	<%end%>
</div>
</div>
</div>
