<div class="jumbotron">
<div class="container">
<div class="panel panel-primary">
	<div class="panel-heading">Contract</div>
  <div class="panel-body">
		<div class="container">
			<div class="col-lg-6 col-md-6 col-sm-6">
				<span><strong>Name : </strong><%=@contract.name%></span><br />
				<span><strong>Public tender : </strong><%=@contract.tender? ? "Yes":"No" unless @contract.nil?%></span><br />
				<span><strong>Locked : </strong></strong><%=@contract.locked? ? "Yes":"No"%></span><br />
				<span><strong>Teams : </strong><%=@contract.teams.map{|t| t.name}.to_sentence%></span><br />
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6">
				<span><strong>Provider : </strong><%=@contract.provider.nil? ? '':@contract.provider.name%></span><br />
				<span><strong>Categories : </strong><%=@contract.categories.map{|c| c.name}.to_sentence%></span><br />
				<span><strong>Start : </strong><%= @contract.start_date.blank? ? "None" :  @contract.start_date.strftime("%B %e, %Y") %></span><br >
				<span><strong>End : </strong><%=@contract.end_date.blank? ? "None" :  @contract.end_date.strftime("%B %e, %Y") %></span><br />
				<% if @contract.attachments.empty? %>
					<strong>Attached files: </strong>none<br />
				<% else %>
					<strong>Attached files: </strong><br />	
					<% @contract.attachments.each do |attachment|%>
							<%= link_to File.basename(attachment.attachment.path), attachment.attachment.to_s, :target => "_blank"%><br />
					<%end%>
				<%end%>
			</div>	
		</div>	
</div>
</div>
<div class="panel panel-success">
  <div class="panel-heading">Associated items</div>
  <div class="panel-body">
  <% if !@contract.items.empty?%>
  	<table>
  		
			<%= @contract.items.each do |item|%>
			<tr>
				<td><%=item.barcode%></td>
				<td><%=item.name%></td>
				<td><%=item.teams.pluck(:name).to_sentence%></td>
			</tr>
			<%end%>
	</table>
<%end%>
	<% if @contract.locked %>
	<span>This contract is locked</span>
	<% elsif @contract.end_date < Date.today %>
	<span>Obsolete contract</span>
	<% else %>
	<span><%= link_to "Add items", add_to_queue_contract_path(@contract)%></span>
	<%end%>
</div>
</div>
<div class="row">
	<%= link_to "Edit", edit_contract_path(@contract), :class => "btn btn-default" %>
	<%= link_to "Back to list of contracts", :contracts, :class => "btn btn-default" %>
</div>