<%= simple_form_for @user, remote: false do |f| %>
    <%= f.error_notification %>
    <div class="container">
   <div class="row">
   		<div class="col-md-5 col-sm-4">
    			<%=f.input :firstname, label: t('global.firstname'), required: true%>
   	 	</div>
   	 	<div class="col-md-5 col-sm-4">
    			<%=f.input :lastname, label: t('global.lastname'), required: true%>
    		</div>
  </div>
   <div class="row">
   		<div class="col-md-12 col-sm-12">
    			<%= f.association :teams, label:t('global.menu.teams'),
    									collection: current_user.teams,
									label_method: lambda { |team| "#{team.name}"},
									prompt: 'Select a team.',
									disabled: !isAdmin,
									input_html:  {class: "select2-select"},
									include_blank: false,
									include_hidden: false,
									required: true
									 %>
		</div>
  </div>
  <div class="row">
		<div class="col-lg-5 col-md-5 col-sm-4">
    			<%= f.input :email, label: "E-mail", required: true%>
    			<%= f.input :tel1, label: "Tel1"%>
    			<%= f.input :tel2, label: "Tel2"%>
    		</div>
  </div>
   <div class="row">
   		<div class="col-md-12 col-sm-12">
   			<%= f.association :positions, :label => t('global.position'),
												label_method: lambda { |position| "#{position.name}"},
												prompt: 'Select a position.',
												disabled: !isManager,
												input_html: {class: "select2-select"},
												include_blank: false,
												include_hidden: false
												%>
		</div>
  </div>
    <div class="row">
  		<div class="col-md-5 col-sm-4">
   			<%= f.association :location, :label => t('global.menu.location'),
												label_method: lambda { |location| "#{location.name}"},
												value_method: :id,
												prompt: 'Select a location.',
												input_html: {class: "select2-select"},
												include_blank: false,
												include_hidden: false
												%>
		</div>
  </div>
  
  <% roles_list = [["superadmin", t('global.roles.superadmin')],
      ["administrator", t('global.roles.administrator')],
      ["HR_administrator", t('global.roles.hr_administrator')],
      ["inventory_manager", t('global.roles.inventory_manager')],
      ["team_leader" , t('global.roles.team_leader')],
      ["user" , t('global.roles.user')],
      ["former_employee" , t('global.roles.former_employee')]
      ]%>
  <% if ['superadmin'].include? current_user.role
      roles_list = roles_list
  elsif ['administrator', 'HR_administrator'].include? current_user.role
      roles_list = roles_list.slice(1, 2)
  elsif ['inventory_manager'].include? current_user.role
  	roles_list = roles_list.slice(1, 2, 3)
  end %>
   
 <div class="row">
		<div class="col-md-6 col-lg-6 col-sm-6">
		  	<%= f.input :role, label: t('global.menu.role'),
		  	:collection => roles_list,
			label_method: :second, value_method: :first,
		  	required: true, 
		  	input_html:  {class: "select2-select"},
		  	disabled: !isManager %>
  		</div>
 </div>
 
<div class="panel panel-primary">
	<div class="panel-heading">
		<%= t('global.enter_password') %>
	</div>
	<div class="panel-body">
	<div class="col-lg-4 col-md-4 col-sm-4">
  		<% if @minimum_password_length %>
  				<em>(<%= @minimum_password_length %> characters minimum)</em>
  		<% end %>
	    <%= f.input :password , label: t('global.password'), required: true%>
    		<%= f.input :password_confirmation, required: true %>
    	</div>
  </div>
  </div>

  <div class="row">
  	<div class="btn-group">
    <%= f.submit "Save", :class => "btn btn-default" %>
    <%= link_to 'Back', users_path, :class => "btn btn-default" %>
    </div>
  </div>
  </div>
<% end %>

