<div class='row'> <strong>Email : </strong> <a href = 'mailto:#{self.email}'><%=user.email%></a> </div>
<div class='row'><strong><%= t("menu.teams") %> : </strong> <%=user.teams.pluck(:name).to_sentence %></div>
<div class='row'><strong><%= t("users.position") %> : </strong> <%=user.positions.empty? ? "-" : t(user.positions.first.name).capitalize %> </div>
<div class='row'><strong><%= t("users.role") %> : </strong> <%=role_set(user.role) %> </div>
<div class='row'><strong><%= t("users.localisation") %> : </strong> <%=user.location.nil? ? "-" : user.location.name %> </div>
<div class='row'><strong>Tel1. : </strong> <%=user.tel1.nil? ? "-": user.tel1 %> </div>
<div class='row'><strong>Tel2. : </strong> <%=user.tel2.nil? ? "-": user.tel2 %> </div>
<div class='row'><strong><%= t("users.start_date") %> : </strong><%= user.start_date.blank? ? "-" :  @contract.start_date.strftime("%B %e, %Y") %></div>
<div class='row'><strong><%= t("users.end_date") %> : </strong><%= user.end_date.blank? ? "-" :  @contract.end_date.strftime("%B %e, %Y") %></div>
<%if can? :manage, User %>
	<div class='row'><strong><%= t("users.active_status") %> : </strong><%= user.active_status.nil? ? "-" : t(user.active_status) %></div>
<%end%>
