<h3>Profile <%=@user.full_name%></h3>
	<div class="container-fluid">
		<div class='panel panel-primary'>
			<div class="panel-heading">Contact information</div>
			<div class="panel-body">
				<div class="container">
					<div class="col-lg-11 col-md-11 col-sm-11">
						<%=render :partial => "users/components/user", :locals => {:user => @user}  %>
					</div>
				</div>
			</div>
		</div>
	</div>
<% if can? :manage, User%>
	<% unless @user.attachments.empty? %>
	<div class="row">
	<div class="panel panel-default">
			<div class="panel-heading">Files</div>
			<div class="panel-body">
				<div class="container">
	
				<strong>Attached files: </strong><br />	
						<% @user.attachments.each do |attachment|%>
								<%= link_to File.basename(attachment.attachment.path), attachment.attachment.to_s, :target => "_blank"%><br />
						<%end%>
				</div>
			</div>
	</div>
	</div>
	<%end%>
<%end%>
<%unless @user.items.empty?%>
	<div class="row">
	<div class="panel panel-default">
		<div class="panel-heading">Items</div>
		<div class="panel-body">
			<div class="container">
				<table>
					<thead class="thead-dark">
						 <tr>
						 	<th>Name</th>
						 	<th>Barcode</th>
						 	<th></th>
						 </tr>
					</thead>
					<tbody>
					<% @user.items.each do |item|%>
					<tr>
						<td class="col-lg-8 col-md-8 col-sm-8"><%=item.name%></td>
						<td class="col-lg-2 col-md-2 col-sm-2"><%=item.barcode%></td>
						<td class="col-lg-2 col-md-2 col-sm-2">
							<%=link_to item_path(item) do%>
								<i class="fa fa-sticky-note"></i>
								<%end%>
							 <%=link_to  edit_item_path(item) do%>
							 	<i class="fa fa-pencil-square-o"></i>
							 	<%end%>
					</tr>
					<%end%>
					</tbody>
				</table>
				</div>
		</div>
	</div>
	</div>
<%end%>
<div class="row">
				<div class="col-md-12 col-sm-12">
		  			<div class="btn-group">
		  				<%if (can? :manage, :all)%>
		  					<%=link_to "Administration HR", edit_hr_user_path(@user), class: 'btn btn-default' %>
		  					<%=link_to "Administration", edit_user_path(@user), class: 'btn btn-default' %>
		  				<% elsif can? :manage, User%>
		  					<%=link_to "Administration", edit_hr_user_path(@user), class: 'btn btn-default' %>
		  				<%elsif (can? :cru, @user)%>
		  					<%=link_to "Edit my profile", edit_user_path(@user), class: 'btn btn-default' %>
		  				<%end%>
		  				<%= link_to t(".back"), users_path, class: 'btn btn-default' %>
					</div>
				</div>
</div>
</div>
