<td ><small><%= object.full_name%></small></td>
<td ><small><%= object.email %></small></td>
<td ><small><%= object.tel1 unless object.tel1.nil?%> <%= object.tel2 unless object.tel2.nil?%></small></td>
<td ><small><%= object.location.name unless object.location.nil?%></small></td>
<td ><small>
	<%if ['superadmin', 'administrator'].include? object.role%>
	-
	<%else%>
	<%= object.teams.pluck(:name).to_sentence unless object.teams.nil? %>
	<%end%>
	</small></td>
<td class="actions">
	<%if can? :manage, User %>
		<%unless (current_user.teams & object.teams).empty? %>
			<%= smart_listing_item_actions [
			 {name: :custom, url: edit_user_path(object),
	  		method: :get, 
  			icon: 'fa fa-pencil-square-o', 
  			title: "Edit user"},
				]%>
		<%end%>
	<%end%>	
	<%if can? :update, User %>
		<%if current_user.id == object.id %>
		
			<%= smart_listing_item_actions [
			  	{name: :edit, url: edit_user_path(object), title: "Edit"},
			 {name: :custom, url: edit_user_path(object),
	  		method: :get, 
  			icon: 'fa fa-pencil-square-o', 
  			title: "Edit user"},
				]%>
		<%end%>
	<%end%>	
	<%if ['superadmin', 'administrator'].include? current_user.role%>
		<%= smart_listing_item_actions [
			{name: :destroy, url: user_path(object), title: "Destroy", :confirmation => "Are you sure you want to delete this user ?"}
			]%>
	<%end%>
</td>