<td ><small><%= object.full_name%></small></td>
<td ><small><%= object.email %></small></td>
<td ><small><%= object.tel1 unless object.tel1.nil?%> <%= object.tel2 unless object.tel2.nil?%></small></td>
<td ><small><%= object.location.name unless object.location.nil?%></small></td>
<td ><small>
	<%if ["superadmin", "administrator", "HR_administrator"].include? object.role  %>
		-
	<%else%>
	<%= object.teams.pluck(:name).to_sentence unless object.teams.nil? %>
	<%end%>
	</small>
</td>
<td class="actions">
			<%= smart_listing_item_actions [
			 {name: :show, url: user_path(object),title: "show user", icon: 'fa fa-eye'}
				]%>
</td>