<div class="row">
	<h2><%=t('menu.inventory')%></h2>
</div>
<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12">
		<%= render 'items/components/search'%>
		<div id="display-container" class="col-lg-3 pull-right">
				<%= render :partial => "items/components/toggle_display", :locals => { :option => @option } %>	
		</div>
	</div>
</div>
<%if can? :create, Item %>
<div class="row">
	<div class="col-lg-2 col-md-2 col-sm-2">
		<%= link_to t('global.new_item'), new_item_path, class: "btn btn-default" %>
	</div>
	<div class="col-lg-1 col-md-1 col-sm-1">
		<%= link_to t('global.export').capitalize, '#', class: "btn btn-default" %>
	</div>
</div>
<%end%>
<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12">
		<%= smart_listing_render(:items) %>
	</div>
</div>

