<div class="row">
	<h2>Item #<%=@item.barcode%></h2>
</div>
<div class="jumbotron">
<div class="container">
		<%= render 'items/components/show' %>
</div>
<div class="row">
	<% if can? :update, @item %>
		<%= link_to t("global.edit"), edit_item_path(@item), :class => "btn btn-default" %>
		<%= link_to t("Print (PDF)"), item_path(@item, format: "pdf"), target: "_blank", :class => "btn btn-default"  %>
		<%= link_to t("Print tracking sheet (PDF)"), generate_tracking_sheet_item_path(@item, format: "pdf"), target: "_blank", :class => "btn btn-default"  %>
		<%= link_to t("Print label"), print_label_items_path(:id => @item.id), :class => "btn btn-default", method: :post, remote: true, title: "Print label"%>
	<%end%>
	<%= link_to t("global.back"), items_path, :class => "btn btn-default"%>
</div>
</div><!--End of container-->
</div><!--End of jumbotron-->

