<div class="row">
	<h2>Item #<%=@item.barcode%></h2>
</div>
<div class="jumbotron">
<div class="container">
<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12">
		<%= render 'items/components/show' %>
	</div>
</div>
<div class="row">
	<% if can? :cru, @item %>
		<%= link_to "Edit", edit_item_path(@item), :class => "btn btn-default" %>
		<%= link_to "Print (PDF)", item_path(@item, format: "pdf"), target: "_blank", :class => "btn btn-default"  %>
		<%= link_to "Print tracking sheet (PDF)", generate_tracking_sheet_item_path(@item, format: "pdf"), target: "_blank", :class => "btn btn-default"  %>
		<%= link_to "Print label", print_label_items_path(:id => @item.id), :class => "btn btn-default", method: :post, remote: true, title: "Print label"%>
	<%end%>
	<%= link_to "Back to inventory", :items, :class => "btn btn-default" %>
</div>
</div><!--End of container-->
</div><!--End of jumbotron-->

