<p id="notice"><%= notice %></p>

<div class="row">
	<div class="col-lg-6">
	  <strong><%= t('global.name')%> : </strong>
	  	<%= Organization.last.name %>
	 </div>
	 <div class="col-lg-6">
	  <strong><%= t('global.acronym')%> :</strong>
	  	<%= Organization.last.acronym %>
	 </div>
</div>
<div class="row">
	 <div class="col-lg-6">
	 	<%= link_to t('global.edit'), edit_organization_path(Organization.first) %> | <%= link_to t('global.back'), organizations_path %>
 	</div>
</div>


