<div class="jumbotron">
	<div class="container">
	<div class="panel panel-primary">
		<div class="panel-heading"><%=t('menu.category')%></div>
	  <div class="panel-body">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6">
						<span><strong><%=t('global.name')%> : </strong><%=@category.name%></span><br />
					</div>
				</div>
			</div>	
		</div>
	</div>
</div>
	<div class="row">
		<%= link_to t('global.edit'), edit_category_path(@category), :class => "btn btn-default" %>
		<%= link_to t('global.back'), :categories, :class => "btn btn-default" %>
	</div>
</div>
