%h1 Listing event_items

%table
  %thead
    %tr
      %th Name
      %th Done
      %th Item
      %th
      %th
      %th

  %tbody
    - @event_items.each do |event_item|
      %tr
        %td= event_item.name
        %td= event_item.done
        %td= event_item.item_id
        %td= link_to 'Show', event_item
        %td= link_to 'Edit', edit_event_item_path(event_item)
        %td= link_to 'Destroy', event_item, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Event item', new_event_item_path
