<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @location.name %>
</p>

<p>
  <strong>Building:</strong>
  <%= @location.building_id %>
</p>

<p>
  <strong>Floor:</strong>
  <%= @location.floor_id %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
