 <nav class="navbar navbar-default white-bg">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Labmate <%= Organization.first.acronym unless Organization.first.nil? %></a>
    </div>
    <% if current_user%>
    <% isAdmin = can? :manage, Organization %>
     <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <%= content_tag(:li, link_to( t('menu.inventory'), root_path, class: "nav-link"), class: cp(root_path), remote: true)%>
        <%= content_tag(:li, link_to( t('menu.categories'), categories_path, class: "nav-link"), class: cp(categories_path), remote: true)%>
        <%= content_tag(:li, link_to( t('menu.maintenance'), contracts_path, class: "nav-link"), class: cp(contracts_path), remote: true)%>
        <%= content_tag(:li, link_to( t('menu.brands'), brands_path, class: "nav-link"), remote: true)%>
        <%= content_tag(:li, link_to( t('menu.providers'), providers_path, class: "nav-link"), remote: true)%>
        <li class="dropdown">
        		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%=t('menu.utilities')%><span class="caret"></span></a>
          <ul class="dropdown-menu">
          	<%if can? :manage, Organization%>
            		<%= content_tag(:li, link_to( t('menu.organization'), organizations_path, class: "nav-link"), remote: true)%>
            		<%= content_tag(:li, link_to( t('menu.owners'), owners_path, class: "nav-link"), remote: true)%>
            <%end%>
            <%if can? :manage, Building %>
            		<%= content_tag(:li, link_to( t('menu.buildings'), teams_path, class: "nav-link"), remote: true)%>
            	<%end%>
            <%= content_tag(:li, link_to( t('menu.departments'), departments_path, class: "nav-link"), remote: true, if: isAdmin)%>
            <%= content_tag(:li, link_to( t('menu.teamss'), teams_path, class: "nav-link"), remote: true)%>
            <%= content_tag(:li, link_to( t('menu.locations'), teams_path, class: "nav-link"), remote: true)%>
            <li role="separator" class="divider"></li>
            <%= content_tag(:li, link_to( t('menu.users'), users_path, class: "nav-link"), remote: true)%>
          </ul>
         </li>
		</ul>
	      <ul class="nav navbar-nav navbar-right">
	      	<li>
	     		<span class="navbar-text">
	     		<small>
				<% if signed_in? %>
	    				<small><%=t('menu.sign_in_as')%> : <strong><%= current_user.full_name %></strong> - <%=role_set(current_user.role)%></small>
		    			<%= link_to user_path(current_user.id), method: :get do %>
					 		<i class="fa fa-user"></i>
					<%end%>
		    			<%= link_to destroy_user_session_path, method: :get do %>
					 		<i class="fa fa-sign-out-alt"></i>
					<%end%>
				<% unless can? :manage, User%>
	    				<br /><strong><%=current_user.teams.pluck(:name).to_sentence%> </strong>
	    			<%end%>
	    			<%end%>
	    			</small>
	     		</span>
	     	</li>
	     	<li>
         	<%if I18n.locale == :fr%>
				<%= link_to  root_path(locale: :en) do %>
					<span class="flag-icon flag-icon-gb"></span>
				<%end%>
			<%else%>
				<%= link_to root_path(locale: :fr) do %>
					<span class="flag-icon flag-icon-fr"></span>
				<%end%>
			<%end%>
		</li>
	      </ul>
	      <%end%>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
	
